/server/venv
/server/db.sqlite3
/server/muze_me/__pycache__
/server/muze_me/migrations/
/server/users/__pycache__
/server/users/migrations/
/server/news_module/__pycache__
/server/news_module/migrations/
/server/.env