<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Inbox</ion-list-header>
        <ion-note>hi@ionicframework.com</ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="setting-list">
        <ion-list-header>Settings</ion-list-header>

        <ion-item>
          <ion-label position="stacked" style="
          font-size: 20px;padding-left: 24px; padding-bottom: 9px;">News Negativity</ion-label>
          <ion-range [ticks]="true" [snaps]="true" [min]="0" [max]="10">
            <ion-icon slot="start" name="sunny-outline"></ion-icon>
            <ion-icon slot="end" name="thunderstorm-outline"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-list>

      <ion-list id="labels-list">
        <ion-list-header>Labels</ion-list-header>

        <ion-item *ngFor="let label of labels" lines="none">
          <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
          <ion-label>{{ label }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content id="main-content">
    <ng-content></ng-content>
  </ion-content>
</ion-split-pane>