<app-side-bar>
  <ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content> </ion-refresher-content>
    </ion-refresher>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-card *ngIf="persieved_loading" style="padding:14px">
      <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark"
        [theme]="{ height: '30px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark"
        [theme]="{ height: '10px', width:'35px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="4" appearance="line" animation="progress-dark"
        [theme]="{ height: '15px' }"></ngx-skeleton-loader>
    </ion-card>
    <ion-card *ngIf="persieved_loading" style="padding:14px">
      <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark"
        [theme]="{ height: '30px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark"
        [theme]="{ height: '10px', width:'35px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="4" appearance="line" animation="progress-dark"
        [theme]="{ height: '15px' }"></ngx-skeleton-loader>
    </ion-card>
    <ion-card *ngIf="persieved_loading" style="padding:14px">
      <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark"
        [theme]="{ height: '30px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark"
        [theme]="{ height: '10px', width:'35px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="4" appearance="line" animation="progress-dark"
        [theme]="{ height: '15px' }"></ngx-skeleton-loader>
    </ion-card>
    <div *ngIf="!firstLoadLoadingStatus_changeOnRegenOnly">
      <div *ngFor="let news of newsList$">
        <app-news-card [news]="news" (newsData)="routeTodetailedView($event)"></app-news-card>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</app-side-bar>